.App {
  display: flex;
}

:root {
  font-size: 10px;
}

.edit-view-container {
  margin-bottom: 100px;
}

.edit-view-user-info-container,
.edit-view-education-info-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
